/* Jeremy Meyers, last updated 05/15/2024 */
* {
	box-sizing: border-box;
}
body {
	background-color: #FFF8DC;
	font-family: 'Courier New', monospace;
	color: #000000;
}
#wrapper {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	max-width: 1750px;
	background-color: inherit;
	box-shadow: 5px 5px 20px gray;
	border: 3px dashed #000;
	padding: 1px 25px 20px 25px;
}
h1 {
	margin-top: 0;
}
h4 {
	text-align: center;
}
/*nav {}*/
header {
	text-align: center;
}
main ul a {
	font-weight: bold;
	color: #29ABDF;
}
main ul a:hover {
	color: #DF29AB;
	text-transform: uppercase;
}
/*main ul a:visited {}*/
section {
	padding: 0 10px 10px;
	margin: 10px;
	box-shadow: 2px 2px 20px gray;
}
#featured {
	padding: 0 10px 10px;
	margin: 10px;
	box-shadow: 2px 2px 20px gray;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	font-size: 0.9em;
}
#featured a {
	width: 33%;
}
#featured figure {
	margin: 10px auto 0 auto;
	padding: 0 10px 10px;
	width: 100%;
	line-height: 1.3em;
}
#featured img {
	max-height: 75%;
	width: 100%;
}
figcaption {
	text-align: center;
}
#assignments {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.featured-list {
	list-style-type: "✨";
}
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	clear: both;
}