/* Jeremy Meyers, last updated 09/06/2024 */
/* Fonts */
.graduate {
	font-family: "Graduate", serif;
	font-weight: 400;
	font-style: normal;
}
.roboto-mono {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-style: normal;
}
.comfortaa {
	font-family: "Comfortaa", sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* Body and #wrapper */
* {
	box-sizing: border-box;
}
body, html {
	margin: 0;
}
body {
	background-color: #092557;
	font-family: "Roboto Mono", sans-serif;
	color: #e3e6ed;
	text-shadow: 2px 2px 5px #051e4a;
	font-size: 1.4em;
}
#wrapper {
	margin: 0 auto;
	min-width: 600px;
	background-color: inherit;
	padding: 1px 25px 20px 25px;
}
/* General headings and text tags */
h1, h2, h3, h4, p, span, a {
	opacity: 0.99;
}
h1, h2, h3, h4, .legend {
	font-family: "Comfortaa", sans-serif;
}
h1 {
	margin-top: 10px;
}
h3 {
	margin-bottom: 0.75em;
}
h3 > a {
	color: #e3e6ed !important;
}
h3 > a:hover {
	text-transform: none !important;
}
summary + div > .legend {
	margin-top: -1em;
}
h2, h3, .legend {
	margin-left: 5px;
}
h4 {
	text-align: center;
	margin: 10px;
}
header {
	text-align: center;
}
abbr {
	text-decoration: none;
}
abbr:after {
	content: "ⓘ";
	font-size: 0.75em;
	display: inline-block;
	transform: translate(25%, -50%);
	text-shadow: 2px 2px 3px #c52a94cc;
}
abbr:hover {
	cursor: help;
}
/*nav {}*/
/* Main stylings */
main ul {
	border-top: 1px solid #627497;
	border-bottom: 1px solid #627497;
	padding-top: 8px;
	padding-bottom: 8px;
	padding: 8px 0 8px 1.75em;
	line-height: 1.75em;
}
main li {
	margin: 1px;
}
main p {
	padding: 5px;
}
main a {
	font-weight: bold;
	color: #29ABDF;
}
main a:hover {
	color: #f3d1e9;
	text-shadow: 2px 2px 3px #c52a94;
	text-transform: uppercase;
	font-style: normal;
}
/* General sections */
div > details {
	background-color: #142c59;
	padding: 0 0.6em 0.25em;
	margin: 0.6em;
	box-shadow: 5px 5px 25px #6583c0;
	border: 1px solid #6583c0;
}
summary {
	margin: 1.5em 0.5em 1em;
}
summary > * {
	display: inline;
}
summary:hover {
	cursor: pointer;
}
details, details[open] {
	align-self: stretch;
}
details > summary::marker {
	text-shadow: 1px 1px 0px #01102a;
}
details > summary {
	list-style-type: "⮞ ";
	font-family: "Comfortaa";
	text-shadow: 1px 1px 0px #01102a;
}
details[open] > summary {
	list-style-type: "⮟ ";
}
/* Featured Projects */
#featured {
	background-color: #142c59;
	padding: 0.75em;
	margin: 0.75em;
	box-shadow: 5px 5px 25px #6583c0;
	border: 1px solid #6583c0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
	font-size: 0.85em;
}
#featured figure {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7.5px;
}
#featured figure > a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
#featured img {
	width: 95%;
	aspect-ratio: 5 / 3;
}
figcaption {
	text-align: center;
	margin: 0;
}
figcaption a {
	font-family: 'Graduate', 'Courier New', monospace;
}
/* School Assignments */
#assignments {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px 0;
	margin: 0 auto;
}
.live-examples-list li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.live-examples-list li::before {
	content: "•";
	font-size: 1.5em;
	margin: 0 0.3em 0 -0.9em;
}
#countdown {
	font-family: "Graduate", "Courier New", serif;
	font-weight: 700;
	font-size: 1.1em;
}
.academic-year {
	display: flex;
	justify-content: center;
	align-items: center;
}
.academic-year p {
	font-size: 2em;
	margin: 0.25em;
	letter-spacing: 0.15em;
	font-weight: 700;
	font-family: "Graduate", "Courier New", serif;
}
.featured-list {
	list-style-type: "⭐" !important;
}
.current-semester summary {
	margin-top: 0.75em;
}
details > summary.featured-list::before {
	content: "\20\20";
}
span.featured-list::before {
	content: "⭐";
	padding-right: 3px;
}
li.featured-list {
	margin-left: -2px;
	padding-left: 3px;
}
.legend {
	margin-top: 0;
	font-size: 0.85em;
}
/* Personal Projects - The Odin Project */
#personal > div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
#personal details {
	flex-basis: 37.5%;
}
#personal ul {
	padding-left: 8px;
}
#personal li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: right;
	align-items: center;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 600;
}
.project-name {
	padding-right: 0.8em;
	margin-right: auto;
}
.live-examples {
	background-color: #237abd;
	color: #e3e6ed;
	/* align-self: stretch; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 7.5px 10px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #051e4a;
	font-family: "Graduate", "Courier New", serif;
	font-weight: 700;
	font-size: 0.95em;
	text-decoration: none;
	text-shadow: 2px 2px 3px #051e4a;
}
.github {
	opacity: 0.825;
	width: 2em;
	aspect-ratio: 1;
	background-image: url("./images/github-mark-white.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/* Video and PDF pages */
.backToHome {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.25em;
	font-weight: 700;
	text-decoration: none;
	position: absolute;
	top: 0.5%;
	transform: translate(-12.5%, 50%);
}
.backToHome:hover {
	text-decoration: underline;
}
.video {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.pdf {
	display: block;
	width: 80%;
	height: 700px;
	margin: 0 auto;
}
/* Footer */
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	clear: both;
}
footer, footer a {
	color: #45b2de;
}
footer a:hover {
	color: #f3d1e9;
	text-shadow: 2px 2px 3px #c52a94;
}
/* Media Queries */
@media (min-width: 750px) {
	body {
		font-size: 1.25em;
	}
	#wrapper {
		width: 95%;
		margin: 10px auto;
		border: 1px solid #627497;
		box-shadow: 2px 2px 20px #627497;
	}
	#featured {
		flex-flow: row wrap;
		align-items: flex-start;
	}
	#featured img {
		width: 90%;
	}
}
@media (min-width: 1024px) {
	body {
		font-size: 1em;
	}
	#wrapper {
		width: 80%;
		max-width: 1750px;
	}
	details {
		align-self: flex-start;
	}
	#featured {
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	#featured figure {
		gap: 2.5px;
		flex-basis: 30%;
	}
	#featured img {
		width: 102.5%;
	}
	#assignments {
		display: grid;
		grid-template-columns: 1fr 12.5% 1fr;
		width: 87.5%;
	}
	.current-semester {
		grid-column: 1 / span 3;
	}
	.current-semester > legend {
		font-family: "Graduate", "Courier New", serif;
	}
	.academic-year p {
		writing-mode: vertical-lr;
		text-orientation: upright;
		font-size: 3em;
		margin: 1em 0;
	}
	#personal div {
		flex-flow: row wrap;
	}
}
@media (min-width: 1800px) {
	body {
		font-size: 1.5em;
	}
}