/* Jeremy Meyers, 11/06/2023 */
* {
	box-sizing: border-box;
}
body {
	background-color: #EAEAEA;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
	background-color: #FFFFFF;
}
header {
	background-color: #29485D;
	color: #FFFFFF;
	text-align: center;
	padding: 0.5em 0;
	letter-spacing: 0.25em;
}
header a {
	text-decoration: none;
}
header a:link {
	color: white;
}
header a:visited {
	color: white;
}
header a:hover {
	color: #C6D02F;
}
nav {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	font-size: 1.2em;
	padding-left: 0;
}
nav li {
	border-bottom: 1px solid #29485D;
}
nav a {
	text-decoration: none;
}
nav a:link {
	color: #0194B5;
}
nav a:visited {
	color: #29485D;
}
nav a:hover {
	color: #C6D02F;
}
main {
	padding: 1px 20px 20px 20px;
	display: block;
	background-color: white;
	overflow: auto;
}
main ul {
	list-style-image: url(images/marker.gif);
}
main li {
	line-height: 1.5;
}
h1 {
	font-family: Georgia, 'Times New Roman', serif;
}
h2 {
	color: #407386;
	font-family: Georgia, 'Times New Roman', serif;
	text-shadow: 1px 1px 1px #CCCCCC;
	text-align: center;
}
h3 {
	color: #29485D;
	font-family: Georgia, 'Times New Roman', serif;
}
dt {
	color: #0194B5;
}
.web {
	color: #0194B5;
	font-weight: bold;
}
#contact {
	font-size: 90%
}
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	padding: 2em;
	background-color: #FFFFFF;
}
#homehero {
	height: 400px;
	background-image: url(images/homehero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#trackshero {
	height: 400px;
	background-image: url(images/trackshero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#facultyhero {
	height: 400px;
	background-image: url(images/facultyhero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@media (min-width: 800px) {
	body {
		background-color: #0194B5;
		background-image: linear-gradient(to bottom, #FFFFFF, #0194B5);
		background-repeat: no-repeat;
	}
	header {
		height: 120px;
		padding-top: 30px;
	}
	nav {
		background-color: #FFFFFF;
		padding: 1em;
	}
	nav ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	nav li {
		border-bottom: none;
	}
	section {
		margin: 0 2em;
		flex: 1;
	}
	.flow {
		display: flex;
		flex-direction: row;
	}
}
@media (min-width: 1250px) {
	#wrapper {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #000033;
		min-width: 960px;
		max-width: 2048px;
		box-shadow: 3px 3px 3px #333333;
	}
	header {
		background-image: url(images/logo.png);
		background-position: right;
		background-repeat: no-repeat;
		height: 120px;
		text-align: left;
	}
	h1 {
		margin: 0 35% 0 3em;
		font-size: 2em;
		letter-spacing: 0.2em;
	}
}